.DS_Store    
.Rapp.history
.Rhistory    
genomes/**
SLX-12998/*
SLX-12998_mmhs/*
SLX-14229/*
SLX-14229_mmhs/*
SLX-8047/*
SLX-8047_dmhs/*
SLX-12998/blacklist_filtered/*
SLX-12998_mmhs/blacklist_filtered/*
SLX-14229/blacklist_filtered/*
SLX-14229_mmhs/blacklist_filtered/*
SLX-8047/blacklist_filtered/*
SLX-8047_dmhs/blacklist_filtered/*




